Repository greg-latuszek/emma-companionship: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=50",
    "prettier --write"
  ],
  "*.{json,md,mdx,css,html,yml,yaml}": [
    "prettier --write"
  ],
  "*.ts": [
    "bash -c 'tsc --noEmit'"
  ]
}

Slim the member port to Google OAuth lookup and pending create.
  src/adapters/db/pg/PgMemberRepository.ts
  src/ports/repositories/IMemberRepository.ts
  src/types/auth.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Trim leftover auth types and drop unused Argon2.
  package-lock.json
  package.json
  src/adapters/db/pg/PgMemberRepository.ts
  src/infrastructure/auth/password.ts
  src/schemas/auth.ts
  src/types/auth.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Add Auth.js v5 and move pg to runtime dependencies.
  package-lock.json
  package.json
Due: prettier --write

Add .env.example for Auth.js and local Postgres.
  .env.example
  .gitignore
Due: none

add emma-companionship logo
  public/docs/img/logo_emma_companionship.png
Due: none

add emma-companionship square logo
  public/docs/img/logo_emma_companionship_square.png
Due: none

Start the Postgres pool when the Next.js server boots.
  src/infrastructure/db/pg.ts
  src/infrastructure/db/startup.ts
  src/instrumentation.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Add Auth.js Google provider and the callback route.
  src/app/api/auth/[...nextauth]/route.ts
  src/lib/auth.ts
  src/types/next-auth.d.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Find or create a pending member on Google sign-in.
  src/lib/auth.ts
  src/lib/google-member.ts
  src/types/next-auth.d.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Add the awaiting-approval page with the pending-member copy.
  src/app/auth/awaiting-approval/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Start Google sign-in from the home Zaloguj się button.
  src/app/layout.tsx
  src/app/page.tsx
  src/components/AuthSessionProvider.tsx
  src/components/GoogleSignInButton.tsx
  src/components/SemiTransparentButton.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Add revoked_at on existing members so Google login can read the row.
  db/migrations/006_members_revoked_columns.sql
  src/app/app/layout.tsx
  src/app/auth/continue/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Route approved members to the panel and pending members to awaiting-approval.
  src/components/GoogleSignInButton.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Name a refused Postgres connection so Google sign-in does not look like a config error.
  package.json
  src/app/auth/error/page.tsx
  src/lib/auth.ts
  src/lib/google-member.test.ts
  src/lib/google-member.ts
  src/lib/unavailable-database.test.ts
  src/lib/unavailable-database.ts
  vitest.config.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Keep sign-in error details in the server log; show a local hint only to operators.
  .env.example
  src/app/auth/error/page.tsx
  src/lib/unavailable-database.test.ts
  src/lib/unavailable-database.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Login button indicating Google
  src/components/GoogleSignInButton.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Show the signed-in member on the panel and sign out with Wyloguj mnie.
  src/app/app/companionship-panel/CompanionshipPanel.tsx
  src/app/app/companionship-panel/page.tsx
  src/app/app/companionship-panel/signed-in-member.test.ts
  src/app/app/companionship-panel/signed-in-member.ts
  src/components/LogoutButton.tsx
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Keep pending and logged-out visitors off /app.
  src/app/app/layout.tsx
  src/lib/app-visit.test.ts
  src/lib/app-visit.ts
  src/lib/auth.config.ts
  src/lib/auth.ts
  src/proxy.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Shrink logout to a profile photo, or email when the photo is missing.
  src/app/app/companionship-panel/CompanionshipPanel.tsx
  src/app/app/companionship-panel/signed-in-member.test.ts
  src/app/app/companionship-panel/signed-in-member.ts
  src/components/LogoutButton.tsx
  src/lib/auth.config.ts
  src/lib/auth.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Emmanuel logo at loggedout, emma-companionship logo for logged in
  src/components/Navbar.tsx
Due: eslint --fix --max-warnings=50, prettier --write

rearrange page visual and components layout
  src/app/app/companionship-panel/CompanionshipPanel.tsx
  src/app/auth/awaiting-approval/page.tsx
  src/app/auth/error/page.tsx
  src/app/page.tsx
  src/components/AppArea.tsx
  src/components/GoogleSignInButton.tsx
  src/components/Navbar.tsx
  src/components/PageBackground.tsx
  src/components/PageCredit.tsx
  src/components/SemiTransparentButton.tsx
  src/components/decorative-frame.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Treat Google as an OAuth adapter, not the login process.
  src/adapters/oauth/oauth-identity-from-authjs.test.ts
  src/adapters/oauth/oauth-identity-from-authjs.ts
  src/application/recognize-oauth-member.test.ts
  src/application/recognize-oauth-member.ts
  src/lib/auth.config.ts
  src/lib/auth.ts
  src/lib/google-member.test.ts
  src/lib/unavailable-database.test.ts
  src/lib/unavailable-database.ts
  src/ports/repositories/IMemberRepository.ts
  src/schemas/auth.ts
  src/types/auth.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Replace planning-history docs with the current system and a short organic-growth guardrail.
  .cursor/rules/organic-growth.mdc
  docs/README.md
  docs/REFACTOR_CHECKLIST.md
  docs/application_idea.md
  docs/current-architecture.md
  docs/implementation_plans/.gitkeep
  docs/implementation_plans/auth-closed-system.md
  docs/organic-growth.md
  docs/refactor_to_organic_growth.md
Due: prettier --write

Plan for basic management of members
  docs/implementation_plans/manage_member_basic.md
Due: prettier --write

Detailed Plan for basic management of members
  docs/implementation_plans/manage_member_basic.md
Due: prettier --write

Describe the community member fields this registry slice may write.
  src/schemas/community-member.test.ts
  src/schemas/community-member.ts
  src/types/community-member.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Read community members through a registry port, not the OAuth port.
  src/adapters/db/pg/PgCommunityMemberRepository.ts
  src/adapters/db/pg/PgRepositoryContainer.ts
  src/application/find-community-member.test.ts
  src/application/find-community-member.ts
  src/application/list-community-members.test.ts
  src/application/list-community-members.ts
  src/ports/repositories/ICommunityMemberRepository.ts
  src/ports/repositories/IRepositoryContainer.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Let a Delegate open a list of community members from the panel.
  src/app/app/companionship-panel/CompanionshipPanel.tsx
  src/app/app/companionship-panel/community-members-panel-card.test.ts
  src/app/app/companionship-panel/community-members-panel-card.ts
  src/app/app/members/CommunityMemberList.tsx
  src/app/app/members/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Let the registry add a community member without creating a login.
  src/adapters/db/pg/PgCommunityMemberRepository.ts
  src/application/add-community-member.test.ts
  src/application/add-community-member.ts
  src/application/find-community-member.test.ts
  src/application/list-community-members.test.ts
  src/ports/repositories/ICommunityMemberRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Give Delegates a form to enter a community member.
  src/app/app/members/CommunityMemberForm.tsx
  src/app/app/members/actions.test.ts
  src/app/app/members/actions.ts
  src/app/app/members/community-member-form-state.ts
  src/app/app/members/new/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Consecrated-type dropdown is conditional
  src/app/app/members/CommunityMemberForm.tsx
  src/app/app/members/community-member-form-state.test.ts
  src/app/app/members/community-member-form-state.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

signed in profile picture either from session or from DB (fallback)
  src/app/app/companionship-panel/page.tsx
  src/app/app/companionship-panel/signed-in-member.test.ts
  src/app/app/companionship-panel/signed-in-member.ts
  src/app/app/members/new/page.tsx
  src/app/app/members/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

fix visibility of profile picture
  src/components/LogoutButton.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Update community member registry fields without touching login columns.
  src/adapters/db/pg/PgCommunityMemberRepository.ts
  src/application/add-community-member.test.ts
  src/application/find-community-member.test.ts
  src/application/list-community-members.test.ts
  src/application/update-community-member.test.ts
  src/application/update-community-member.ts
  src/ports/repositories/ICommunityMemberRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Let a Delegate correct a community member’s registry fields.
  src/app/app/members/CommunityMemberForm.tsx
  src/app/app/members/CommunityMemberList.tsx
  src/app/app/members/[id]/edit/page.tsx
  src/app/app/members/actions.test.ts
  src/app/app/members/actions.ts
  src/app/app/members/community-member-form-state.test.ts
  src/app/app/members/community-member-form-state.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Allow removing registry-only members and refuse to delete login identities.
  src/adapters/db/pg/PgCommunityMemberRepository.ts
  src/app/app/members/CommunityMemberList.tsx
  src/app/app/members/RemoveCommunityMemberButton.tsx
  src/app/app/members/[id]/edit/page.tsx
  src/app/app/members/actions.test.ts
  src/app/app/members/actions.ts
  src/application/add-community-member.test.ts
  src/application/find-community-member.test.ts
  src/application/list-community-members.test.ts
  src/application/remove-community-member.test.ts
  src/application/remove-community-member.ts
  src/application/update-community-member.test.ts
  src/ports/repositories/ICommunityMemberRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

make members list/add/edit UI use same semi-transparent visuals
  src/app/app/members/CommunityMemberForm.tsx
  src/app/app/members/CommunityMemberList.tsx
  src/app/app/members/RemoveCommunityMemberButton.tsx
  src/app/app/members/[id]/edit/page.tsx
  src/app/app/members/new/page.tsx
  src/app/app/members/page.tsx
  src/components/SemiTransparentButton.tsx
Due: eslint --fix --max-warnings=50, prettier --write

make panel UI use same semi-transparent visuals
  src/app/app/companionship-panel/CompanionshipPanel.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Read the Google profile picture URL on community members without allowing registry writes to change it.
  src/adapters/db/pg/PgCommunityMemberRepository.ts
  src/application/add-community-member.test.ts
  src/application/find-community-member.test.ts
  src/application/list-community-members.test.ts
  src/application/remove-community-member.test.ts
  src/application/update-community-member.test.ts
  src/schemas/community-member.test.ts
  src/types/community-member.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Let a Delegate sort the community member list and choose extra fields in memory.
  src/app/app/members/CommunityMemberForm.tsx
  src/app/app/members/CommunityMemberList.tsx
  src/app/app/members/community-member-labels.ts
  src/app/app/members/community-member-list-state.test.ts
  src/app/app/members/community-member-list-state.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'
