Repository greg-latuszek/emma-companionship: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=50",
    "prettier --write"
  ],
  "*.{json,md,mdx,css,html,yml,yaml}": [
    "prettier --write"
  ],
  "*.ts": [
    "bash -c 'tsc --noEmit'"
  ]
}

Add member became active Tab of members page
  src/app/app/members/new/page.tsx
  src/app/app/members/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Add companion became active Tab of companionship page
  src/app/app/companionships/PeopleWithoutCompanionList.tsx
  src/app/app/companionships/new/page.tsx
  src/app/app/companionships/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Navbar sticks at page top
  src/components/Navbar.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Update documentation
  docs/README.md
  docs/application_idea.md
  docs/current-architecture.md
Due: prettier --write

remove impl.plan for missing companionships
  docs/implementation_plans/who_needs_companionship.md
Due: prettier --write

make dev server listen on any network ifc
  package.json
Due: prettier --write

allow 192.168.*.* local IP for dev, to not have blocked cross-origin access
  next.config.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

2 dev-time login buttons to bypass google OAuth
  .env.example
  src/app/page.tsx
  src/components/DevSignInButton.tsx
  src/components/LogoutButton.tsx
  src/lib/auth.config.ts
  src/lib/auth.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

emmaCompanionship --> "emma Companionship" to render on mobile
  src/app/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write

remove cart "who is logged" on main panel
  src/app/app/companionship-panel/CompanionshipPanel.tsx
Due: eslint --fix --max-warnings=50, prettier --write

tune title sizes
  src/components/PageTitle.tsx
Due: eslint --fix --max-warnings=50, prettier --write

smaller space below title
  src/app/app/companionship-panel/CompanionshipPanel.tsx
  src/components/PageTitle.tsx
Due: eslint --fix --max-warnings=50, prettier --write

smaller logout button on mobile (uses logout icon)
  src/components/LogoutButton.tsx
Due: eslint --fix --max-warnings=50, prettier --write

crop emmanuel logos
  public/docs/img/logo_emma_companionship.png
  public/docs/img/logo_emma_companionship_narrow.png
  public/docs/img/logo_emmanuel_en-1.png
  src/components/Navbar.tsx
Due: eslint --fix --max-warnings=50, prettier --write

smaller space emmanuel logos
  src/components/Navbar.tsx
Due: eslint --fix --max-warnings=50, prettier --write

refactored visualSurfaces
  src/app/app/companionship-panel/CompanionshipPanel.tsx
  src/app/app/companionship-panel/VisualStyleSettings.tsx
  src/app/app/companionships/CompanionshipRelationList.tsx
  src/app/app/companionships/PeopleWithoutCompanionList.tsx
  src/app/app/members/CommunityMemberList.tsx
  src/components/visual-style-surfaces.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

add scripts to export DB content
  .gitignore
  db/exports/.gitkeep
  db/scripts/export-appending.sh
  db/scripts/export-wiping.sh
  package.json
Due: prettier --write

use SSL when connecting Cloud PostgreSQL
  .env.example
  src/infrastructure/db/pg.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

fix DB export scripts, add DB import scripts
  .env.example
  db/scripts/export-appending.sh
  db/scripts/export-wiping.sh
  db/scripts/import-appending.sh
  db/scripts/import-wiping.sh
  package.json
Due: prettier --write

add skill for refreshing export DB script
  .cursor/rules/db-export-scope.mdc
  .cursor/skills/db-export-scope/SKILL.md
Due: prettier --write

DB export/import/check-schema-sync scripts
  db/scripts/check-schema-sync.sh
  db/scripts/export-appending.sh
  db/scripts/export-wiping.sh
  db/scripts/import-wiping.sh
  db/scripts/lib/exported-tables.sh
  package.json
Due: prettier --write

geographic_units is not Migration-seeded DB
  .cursor/skills/db-export-scope/SKILL.md
Due: prettier --write

squash migrations before production deployment
  db/migrations/001_init.sql
  db/migrations/002_members_table.sql
  db/migrations/003_blacklist_security.sql
  db/migrations/004_roles_access_control.sql
  db/migrations/005_two_factor_auth.sql
  db/migrations/006_members_revoked_columns.sql
  db/migrations/007_members_visual_style.sql
  db/migrations/008_companionship_relations.sql
  db/tests/schema.test.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

export DB should not check schema-sync (it would block)
  db/scripts/export-appending.sh
  db/scripts/export-wiping.sh
Due: none

export DB should produce SQL that is column order independent
  db/scripts/export-appending.sh
  db/scripts/export-wiping.sh
Due: none

schema-sync check should ignore column order (just names set and types)
  db/scripts/lib/exported-tables.sh
Due: none

display seed file to be imported before running import
  db/scripts/import-wiping.sh
Due: none

add envvars security into README.md
  README.md
Due: prettier --write

refactored .env.example
  .env.example
Due: none

add implementation plan
  docs/implementation_plans/python_based_db_scripts.md
Due: prettier --write

update implementation plan
  docs/implementation_plans/python_based_db_scripts.md
Due: prettier --write

add db_scripts env profile loader with unittest coverage
  db/scripts/db_scripts/__init__.py
  db/scripts/db_scripts/env_profiles.py
  db/scripts/db_scripts/tests/__init__.py
  db/scripts/db_scripts/tests/test_env_profiles.py
Due: none

allow shell DB_USER DB_PASSWORD DB_HOST to fill blank profile values
  .env.example
  db/scripts/db_scripts/env_profiles.py
  db/scripts/db_scripts/tests/test_env_profiles.py
  docs/implementation_plans/python_based_db_scripts.md
Due: prettier --write

add exported tables and schema diff helpers for db_scripts
  db/scripts/db_scripts/exported_tables.py
  db/scripts/db_scripts/schema_sync.py
  db/scripts/db_scripts/tests/test_exported_tables.py
  db/scripts/db_scripts/tests/test_schema_sync.py
Due: none

add docker_pg helpers for db_scripts subprocess calls
  db/scripts/db_scripts/docker_pg.py
  db/scripts/db_scripts/tests/test_docker_pg.py
Due: none

run db export through export_db.py with wiping and appending modes
  db/scripts/export-appending.sh
  db/scripts/export-wiping.sh
  db/scripts/export_db.py
Due: none

run db import through import_db.py and Python schema sync
  db/scripts/check-schema-sync.sh
  db/scripts/check_schema_sync.py
  db/scripts/db_scripts/schema_sync.py
  db/scripts/import-appending.sh
  db/scripts/import-wiping.sh
  db/scripts/import_db.py
Due: none

run db create and migrate through Python clients
  db/migrate.sh
  db/scripts/create-databases.sh
  db/scripts/create_databases.py
  db/scripts/migrate.py
Due: none

drop bash db script logic and document Python db_scripts
  .cursor/skills/db-export-scope/SKILL.md
  .env.example
  db/scripts/lib/exported-tables.sh
  docs/README.md
  docs/current-architecture.md
Due: prettier --write

document Python db scripts and env profiles for cloners
  README.md
  db/README.md
  docs/implementation_plans/python_based_db_scripts.md
Due: prettier --write
