Repository greg-latuszek/emma-companionship: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

fix linting issues and prepare for successful commits
  .husky/pre-commit
  .lintstagedrc.json
  apps/web/next-env.d.ts
  apps/web/src/app/page.tsx
  apps/web/src/middleware.ts
  eslint.config.js
  tsconfig.json
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

await may be called in async only
  apps/web/src/middleware.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

fix: resolve TypeScript workspace configuration issues
  apps/web/tsconfig.json
Due: prettier --write

fix: resolve NextAuth signOut parameter type issues
  apps/web/src/lib/auth.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

uncomment type-check in pre-commit
  .husky/pre-commit
Due: none

select one ver of auth - we have two conflicting via dependencies
  package.json
Due: prettier --write

remove any from auth.ts
  apps/web/src/lib/auth.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

fix linter errors
  apps/web/src/lib/auth.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

disable github actions
  .github/workflows/ci-cd.yml.disabled
  .github/workflows/security.yml.disabled
Due: none

start developing changes_to_make.md
  docs/changes_to_make.md
Due: prettier --write

research in changes_to_make.md
  docs/changes_to_make.md
Due: prettier --write

changes decision in changes_to_make.md
  docs/changes_to_make.md
Due: prettier --write

Upgrade BMad core (v4.39.1 → v4.43.1)
  .bmad-core/agents/bmad-master.md
  .bmad-core/agents/dev.md
  .bmad-core/core-config.yaml
  .bmad-core/data/bmad-kb.md
  .bmad-core/install-manifest.yaml
  .bmad-core/tasks/create-next-story.md
  .bmad-core/tasks/review-story.md
  .bmad-core/tasks/validate-next-story.md
  .bmad-core/templates/brownfield-architecture-tmpl.yaml
  .bmad-core/user-guide.md
  .bmad-core/workflows/brownfield-fullstack.yaml
  .bmad-core/workflows/brownfield-service.yaml
  .bmad-core/workflows/brownfield-ui.yaml
  .bmad-core/workflows/greenfield-fullstack.yaml
  .bmad-core/workflows/greenfield-service.yaml
  .bmad-core/workflows/greenfield-ui.yaml
  .bmad-core/working-in-the-brownfield.md
  .cursor/rules/bmad/bmad-master.mdc
  .cursor/rules/bmad/dev.mdc
Due: prettier --write

core-config.yaml should use unified-project-structure.md
  .bmad-core/core-config.yaml
  .bmad-core/user-guide.md
Due: prettier --write

create-next-story.md should use api-specification.md
  .bmad-core/tasks/create-next-story.md
Due: prettier --write

review-story.md should point files from sharded architecture
  .bmad-core/tasks/review-story.md
Due: prettier --write

add AGENTS.md for integrating BMAD-METHOD with Codex CLI
  AGENTS.md
Due: prettier --write

architecture.md reworked after changes_to_make.md
  docs/architecture.md
Due: prettier --write

adr.md reworked after changes_to_make.md
  docs/adr.md
Due: prettier --write

nx commands in architecture.md
  docs/architecture.md
Due: prettier --write

architecture.md - we want Nx only
  docs/architecture.md
Due: prettier --write

AGENTS.md has same tasks as .bmad-core/tasks/create-next-story.md so needs same update
  AGENTS.md
Due: prettier --write

AGENTS.md has same "Standards Compliance Check" as .bmad-core/tasks/review-story.md so needs same update (point files from sharded architecture)
  AGENTS.md
Due: prettier --write

re-sharded architecture after architecture.md changes
  docs/architecture/2-section-analysis.md
  docs/architecture/coding-standards.md
  docs/architecture/components.md
  docs/architecture/core-workflows.md
  docs/architecture/deployment-architecture.md
  docs/architecture/development-workflow.md
  docs/architecture/frontend-architecture.md
  docs/architecture/high-level-architecture.md
  docs/architecture/introduction.md
  docs/architecture/tech-stack.md
  docs/architecture/testing-strategy.md
  docs/architecture/unified-project-structure.md
Due: prettier --write

add rule for BMAD dev to code in small chunks
  .bmad-core/agents/dev.md
  .cursor/rules/bmad/dev.mdc
  AGENTS.md
Due: prettier --write

sm regenerated 1.1.project-scaffolding-cicd-setup.md
  docs/stories/1.1.project-scaffolding-cicd-setup.md
Due: prettier --write

add new risks by QA
  docs/qa/assessments/1.1-risk-20250918.md
Due: prettier --write

add new tests by QA
  docs/qa/assessments/1.1-test-design-20250918.md
Due: prettier --write

updates after po validate-story-draft
  docs/stories/1.1.project-scaffolding-cicd-setup.md
Due: prettier --write

project scaffolded by pnpm create next-app --example https://github.com/vercel/examples/tree/main/solutions/nx-monorepo emma-companionship
  .env.example
  .eslintrc.json
  .gitignore
  .prettierignore
  .prettierrc
  README.md
  apps/app/.eslintrc.json
  apps/app/jest.config.ts
  apps/app/next-env.d.ts
  apps/app/next.config.js
  apps/app/pages/_app.tsx
  apps/app/pages/index.tsx
  apps/app/pages/styles.css
  apps/app/project.json
  apps/app/public/.gitkeep
  apps/app/specs/index.spec.tsx
  apps/app/tsconfig.json
  apps/app/tsconfig.spec.json
  apps/app/vercel.json
  babel.config.json
  jest.config.ts
  jest.preset.js
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  workspace.json
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

small change to trigger preview deployment
  apps/app/pages/index.tsx
Due: eslint --fix --max-warnings=50, prettier --write

apps/app/ --> apps/web
  apps/web/.eslintrc.json
  apps/web/jest.config.ts
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/pages/_app.tsx
  apps/web/pages/index.tsx
  apps/web/pages/styles.css
  apps/web/project.json
  apps/web/public/.gitkeep
  apps/web/specs/index.spec.tsx
  apps/web/tsconfig.json
  apps/web/tsconfig.spec.json
  apps/web/vercel.json
  docs/stories/1.1.project-scaffolding-cicd-setup.md
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

app --> web in source code
  apps/web/.eslintrc.json
  apps/web/jest.config.ts
  apps/web/project.json
  nx.json
  workspace.json
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

migrate project: app --> web
  apps/web/.eslintrc.json
  apps/web/jest.config.ts
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/pages/_app.tsx
  apps/web/pages/index.tsx
  apps/web/pages/styles.css
  apps/web/project.json
  apps/web/public/.gitkeep
  apps/web/specs/index.spec.tsx
  apps/web/tsconfig.json
  apps/web/tsconfig.spec.json
  apps/web/vercel.json
  nx.json
  workspace.json
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

packages/ --> libs/
  docs/adr.md
  docs/architecture.md
  docs/architecture/backend-architecture.md
  docs/architecture/coding-standards.md
  docs/architecture/components.md
  docs/architecture/data-models.md
  docs/architecture/development-workflow.md
  docs/architecture/frontend-architecture.md
  docs/architecture/high-level-architecture.md
  docs/architecture/unified-project-structure.md
  docs/changes_to_make.md
  docs/stories/1.1.project-scaffolding-cicd-setup.md
Due: prettier --write

docs: session notes on refactor to organic growth approach
  docs/REFACTOR_CHECKLIST.md
  docs/refactor_to_organic_growth.md
Due: prettier --write

add images for app
  docs/img/Christ_and_st_Menas.jpg
  docs/img/logo_emmanuel_en-1.png
Due: none

resized and reformatted background image for app
  docs/img/Christ_and_st_Menas.jpg
  docs/img/Christ_and_st_Menas.webp
Due: none

Clean: Remove Nx scaffolding for organic growth refactor
  .env.example
  .eslintrc.json
  .prettierignore
  .prettierrc
  apps/web/.eslintrc.json
  apps/web/jest.config.ts
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/pages/_app.tsx
  apps/web/pages/index.tsx
  apps/web/pages/styles.css
  apps/web/project.json
  apps/web/public/.gitkeep
  apps/web/specs/index.spec.tsx
  apps/web/tsconfig.json
  apps/web/tsconfig.spec.json
  apps/web/vercel.json
  babel.config.json
  jest.config.ts
  jest.preset.js
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  workspace.json
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Path conditions:
  eslint --fix --max-warnings=50: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,html,yml,yaml})
  bash -c 'tsc --noEmit': any of: *.ts
