Repository greg-latuszek/emma-companionship: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Show a sortable table of community members on wide screens and keep cards on the phone.
  src/app/app/members/CommunityMemberList.tsx
  src/app/app/members/community-member-list-state.test.ts
  src/app/app/members/community-member-list-state.ts
  src/app/app/members/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

make wider space for list of members
  src/app/app/members/CommunityMemberList.tsx
  src/app/app/members/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Store a login member's visual style, treating an empty value as the default.
  db/migrations/007_members_visual_style.sql
  db/tests/schema.test.ts
  src/adapters/db/pg/PgMemberRepository.ts
  src/app/app/companionship-panel/signed-in-member.test.ts
  src/application/recognize-oauth-member.test.ts
  src/application/update-member-visual-style.test.ts
  src/application/update-member-visual-style.ts
  src/ports/repositories/IMemberRepository.ts
  src/types/auth.test.ts
  src/types/auth.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Let a signed-in member choose Półprzeźroczysty or Kontrastowy on the panel.
  src/app/app/companionship-panel/CompanionshipPanel.tsx
  src/app/app/companionship-panel/VisualStyleSettings.tsx
  src/app/app/companionship-panel/actions.test.ts
  src/app/app/companionship-panel/actions.ts
  src/app/app/companionship-panel/signed-in-member.test.ts
  src/app/app/companionship-panel/signed-in-member.ts
  src/app/app/companionship-panel/visual-style-form-state.test.ts
  src/app/app/companionship-panel/visual-style-form-state.ts
  src/types/auth.test.ts
  src/types/auth.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Apply Kontrastowy as opaque signed-in surfaces and leave login glass alone.
  src/app/app/companionship-panel/CompanionshipPanel.tsx
  src/app/app/companionship-panel/VisualStyleSettings.tsx
  src/app/app/layout.tsx
  src/app/app/members/CommunityMemberForm.tsx
  src/app/app/members/CommunityMemberList.tsx
  src/app/app/members/RemoveCommunityMemberButton.tsx
  src/app/app/members/[id]/edit/page.tsx
  src/components/LogoutButton.tsx
  src/components/SemiTransparentButton.tsx
  src/components/VisualStyleProvider.tsx
  src/components/visual-style-surfaces.test.ts
  src/components/visual-style-surfaces.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Show the chosen visual style on the panel immediately, then persist it.
  src/app/app/companionship-panel/CompanionshipPanel.tsx
  src/app/app/companionship-panel/VisualStyleSettings.tsx
  src/app/app/companionship-panel/actions.test.ts
  src/app/app/companionship-panel/actions.ts
  src/components/VisualStyleProvider.tsx
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Remember the Delegate's list sort and shown fields after they leave the page.
  src/app/app/members/CommunityMemberList.tsx
  src/app/app/members/community-member-list-state.test.ts
  src/app/app/members/community-member-list-state.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

add horizontal scrollbar for list of members
  src/app/app/members/CommunityMemberList.tsx
  src/app/app/members/page.tsx
  src/app/globals.css
  src/components/AppArea.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Keep a scrollbar above the member table and paint pinned names in bold yellow.
  src/app/app/members/CommunityMemberList.tsx
  src/app/app/members/MirroredHorizontalScroll.tsx
  src/app/app/members/mirrored-horizontal-scroll.test.ts
  src/app/app/members/mirrored-horizontal-scroll.ts
  src/app/globals.css
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

updated docs
  db/SCHEMA.md
  docs/README.md
  docs/application_idea.md
  docs/current-architecture.md
  docs/implementation_plans/manage_member_basic.md
  docs/organic-growth.md
Due: prettier --write

add feature-recipe skill
  .cursor/rules/organic-growth.mdc
  .cursor/skills/feature-recipe/SKILL.md
  docs/organic-growth.md
Due: prettier --write

remove implementation plan
  docs/implementation_plans/manage_member_basic.md
Due: prettier --write

Add companionship_relations contract
  db/migrations/008_companionship_relations.sql
  db/tests/companionship-relations-constraints.test.ts
  db/tests/db-connection.ts
  db/tests/schema.test.ts
  docs/implementation_plans/store-companionship-binding.md
  src/schemas/companionship-relation.ts
  src/types/companionship-relation.ts
  vitest.config.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Add listCompanionshipRelations read persistence
  src/adapters/db/pg/PgCompanionshipRelationRepository.ts
  src/adapters/db/pg/PgRepositoryContainer.ts
  src/application/list-companionship-relations.test.ts
  src/application/list-companionship-relations.ts
  src/ports/repositories/ICompanionshipRelationRepository.ts
  src/ports/repositories/IRepositoryContainer.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Add /app/companionships list page
  db/tests/db-connection.ts
  db/tests/schema.test.ts
  docs/implementation_plans/store-companionship-binding.md
  src/adapters/db/pg/PgCompanionshipRelationRepository.ts
  src/app/app/companionship-panel/CompanionshipPanel.tsx
  src/app/app/companionship-panel/companionships-panel-card.ts
  src/app/app/companionships/CompanionshipRelationList.tsx
  src/app/app/companionships/page.tsx
  src/app/app/members/MirroredHorizontalScroll.tsx
  src/application/list-companionship-relations.test.ts
  src/application/list-companionship-relations.ts
  src/ports/repositories/ICompanionshipRelationRepository.ts
  src/types/companionship-relation.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Add /app/companionships/new page for adding companionship
  src/adapters/db/pg/PgCompanionshipRelationRepository.ts
  src/app/app/companionships/CompanionshipRelationForm.tsx
  src/app/app/companionships/actions.test.ts
  src/app/app/companionships/actions.ts
  src/app/app/companionships/companionship-relation-form-state.ts
  src/app/app/companionships/new/page.tsx
  src/app/app/companionships/page.tsx
  src/application/add-companionship-relation.test.ts
  src/application/add-companionship-relation.ts
  src/application/list-companionship-relations.test.ts
  src/ports/repositories/ICompanionshipRelationRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

update plan for full CRUD
  docs/implementation_plans/store-companionship-binding.md
Due: prettier --write

update plan for 4.1 chunk - fix list UI
  docs/implementation_plans/store-companionship-binding.md
Due: prettier --write

fix list UI
  src/app/app/companionships/CompanionshipRelationForm.tsx
  src/app/app/companionships/CompanionshipRelationList.tsx
  src/app/app/companionships/actions.test.ts
  src/app/app/companionships/actions.ts
  src/app/app/companionships/companionship-relation-form-state.ts
  src/app/app/companionships/companionship-relation-list-state.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

update companionship
  docs/implementation_plans/store-companionship-binding.md
  src/adapters/db/pg/PgCompanionshipRelationRepository.ts
  src/app/app/companionships/CompanionshipRelationList.tsx
  src/app/app/companionships/[id]/edit/page.tsx
  src/app/app/companionships/actions.test.ts
  src/app/app/companionships/actions.ts
  src/application/add-companionship-relation.test.ts
  src/application/find-companionship-relation.ts
  src/application/list-companionship-relations.test.ts
  src/application/update-companionship-relation.test.ts
  src/application/update-companionship-relation.ts
  src/ports/repositories/ICompanionshipRelationRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

delete companionship
  docs/implementation_plans/store-companionship-binding.md
  src/adapters/db/pg/PgCompanionshipRelationRepository.ts
  src/app/app/companionships/CompanionshipRelationList.tsx
  src/app/app/companionships/DeleteCompanionshipRelationButton.tsx
  src/app/app/companionships/actions.test.ts
  src/app/app/companionships/actions.ts
  src/application/add-companionship-relation.test.ts
  src/application/delete-companionship-relation.test.ts
  src/application/delete-companionship-relation.ts
  src/application/list-companionship-relations.test.ts
  src/application/update-companionship-relation.test.ts
  src/ports/repositories/ICompanionshipRelationRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

companionship list wide + 2 first columns sticky
  src/app/app/companionships/CompanionshipRelationList.tsx
  src/app/app/companionships/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write

companionship list: additional fields + toggleable
  src/adapters/db/pg/PgCompanionshipRelationRepository.ts
  src/app/app/companionships/CompanionshipRelationList.tsx
  src/app/app/companionships/companionship-relation-list-state.ts
  src/application/list-companionship-relations.test.ts
  src/types/companionship-relation.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

remove redundant column suffix "(<for whom>)"
  src/app/app/companionships/companionship-relation-list-state.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

updated documentation
  docs/application_idea.md
  docs/current-architecture.md
  docs/implementation_plans/store-companionship-binding.md
Due: prettier --write

notes field visible on members list
  src/app/app/members/community-member-list-state.test.ts
  src/app/app/members/community-member-list-state.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

removed impl.plan for storing companionship
  docs/implementation_plans/store-companionship-binding.md
Due: prettier --write

added impl.plan for missing companionships
  docs/implementation_plans/who_needs_companionship.md
Due: prettier --write

Read who is eligible for companionship and has no companion
  db/tests/people-without-companion.test.ts
  docs/implementation_plans/who_needs_companionship.md
  src/adapters/db/pg/PgCompanionshipRelationRepository.ts
  src/application/add-companionship-relation.test.ts
  src/application/delete-companionship-relation.test.ts
  src/application/list-companionship-relations.test.ts
  src/application/list-people-without-companion.test.ts
  src/application/list-people-without-companion.ts
  src/application/update-companionship-relation.test.ts
  src/ports/repositories/ICompanionshipRelationRepository.ts
  src/types/companionship-relation.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

added Tabs on /app/companionships with the missing list
  src/app/app/companionships/CompanionshipsTabs.tsx
  src/app/app/companionships/PeopleWithoutCompanionList.tsx
  src/app/app/companionships/companionships-tab.test.ts
  src/app/app/companionships/companionships-tab.ts
  src/app/app/companionships/page.tsx
  src/components/visual-style-surfaces.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Toggleable columns on the missing list
  src/app/app/companionships/PeopleWithoutCompanionList.tsx
  src/app/app/companionships/people-without-companion-list-state.test.ts
  src/app/app/companionships/people-without-companion-list-state.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Toggling columns visibility keeps order
  src/app/app/companionships/CompanionshipRelationList.tsx
  src/app/app/companionships/PeopleWithoutCompanionList.tsx
  src/app/app/members/CommunityMemberList.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Show the Delegate how many people still wait for a companion
  src/app/app/companionship-panel/CompanionshipPanel.tsx
  src/app/app/companionship-panel/companionships-panel-card.test.ts
  src/app/app/companionship-panel/companionships-panel-card.ts
  src/app/app/companionship-panel/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Start assigning a companion straight from the person who needs one
  src/app/app/companionships/CompanionshipRelationForm.tsx
  src/app/app/companionships/PeopleWithoutCompanionList.tsx
  src/app/app/companionships/actions.test.ts
  src/app/app/companionships/actions.ts
  src/app/app/companionships/companionship-relation-form-state.test.ts
  src/app/app/companionships/companionship-relation-form-state.ts
  src/app/app/companionships/new/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

allow folding field visibility toggles
  src/app/app/companionships/CompanionshipRelationList.tsx
  src/app/app/companionships/PeopleWithoutCompanionList.tsx
  src/app/app/members/CommunityMemberList.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Add companionship as (inactive) tab
  src/app/app/companionships/CompanionshipsTabs.tsx
  src/app/app/companionships/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Community members as tab, Add Member as (inactive) tab
  src/app/app/members/MembersTabs.tsx
  src/app/app/members/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write

remove PageTitle from pages with lists
  src/app/app/companionships/page.tsx
  src/app/app/members/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write

add Home button at navbar
  src/app/app/companionships/new/page.tsx
  src/app/app/companionships/page.tsx
  src/app/app/members/new/page.tsx
  src/app/app/members/page.tsx
  src/components/Navbar.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Use generic TabbedPanel
  src/app/app/companionships/CompanionshipsTabs.tsx
  src/app/app/companionships/page.tsx
  src/app/app/members/MembersTabs.tsx
  src/app/app/members/page.tsx
  src/components/TabbedPanel.tsx
Due: eslint --fix --max-warnings=50, prettier --write

Path conditions:
  eslint --fix --max-warnings=50: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,html,yml,yaml})
  bash -c 'tsc --noEmit': any of: *.ts
