Repository greg-latuszek/emma-companionship: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Scaffolded fresh next.js project
  .gitignore
  README.md
  eslint.config.mjs
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tsconfig.json
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

emmaCompanionship landing page
  .gitignore
  AGENTS.md
  package-lock.json
  package.json
  public/docs/img/Christ_and_st_Menas.webp
  public/docs/img/logo_emmanuel_en-1.png
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write

emmaCompanionship title - transparent & stroke
  src/app/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write

auth implementation plan
  docs/implementation_plans/auth.md
Due: prettier --write

chore: setup eslint, prettier, and typescript strict mode
  .eslintrc.json
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
  src/app/page.tsx
  tsconfig.json
Due: eslint --fix --max-warnings=50, prettier --write

docs: update auth plan with COMMIT 1.2 - mocked panel
  docs/implementation_plans/auth.md
Due: prettier --write

feat(ui): add mocked companionship panel with basic routing
  src/app/app/companionship-panel/page.tsx
  src/app/page.tsx
  src/components/DashboardNavbar.tsx
Due: eslint --fix --max-warnings=50, prettier --write

refactor(ui): extract PageBackground component for consistency
  src/app/app/companionship-panel/page.tsx
  src/app/page.tsx
  src/components/PageBackground.tsx
Due: eslint --fix --max-warnings=50, prettier --write

fix(ui): make PageBackground full-page on panel
  src/app/app/companionship-panel/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write

refactor(ui): create composable navbar and button components
  src/app/app/companionship-panel/page.tsx
  src/app/page.tsx
  src/components/DashboardNavbar.tsx
  src/components/LogoutButton.tsx
  src/components/Navbar.tsx
  src/components/SemiTransparentButton.tsx
Due: eslint --fix --max-warnings=50, prettier --write

refactor(ui): move 'Zaloguj się' button to navbar on home page
  src/app/page.tsx
Due: eslint --fix --max-warnings=50, prettier --write

fix(ui): position navbar at top of page on home page
  src/app/app/companionship-panel/page.tsx
  src/app/page.tsx
  src/components/Navbar.tsx
Due: eslint --fix --max-warnings=50, prettier --write

refactor(ui): create reusable PageTitle component
  src/app/app/companionship-panel/page.tsx
  src/app/page.tsx
  src/components/PageTitle.tsx
Due: eslint --fix --max-warnings=50, prettier --write

docs: add auth plan for closed, admin-approval system
  docs/implementation_plans/auth-closed-system.md
Due: prettier --write

docs: update auth plan - manual approval + complete member schema
  docs/implementation_plans/auth-closed-system.md
Due: prettier --write

docs: add blacklist + duplicate prevention to auth plan
  docs/implementation_plans/auth-closed-system.md
Due: prettier --write

docs: add COMMIT 1.3 - Docker infrastructure setup
  docs/implementation_plans/auth-closed-system.md
Due: prettier --write

docs: update COMMIT 1.3 to use RAW SQL migrations (not Prisma)
  docs/implementation_plans/auth-closed-system.md
Due: prettier --write

COMMIT 1.3: Docker + Local Development Database Setup
  db/README.md
  db/migrate.sh
  db/migrations/001_init.sql
  db/scripts/create-databases.sh
  docker-compose.yml
  docs/implementation_plans/auth-closed-system.md
  package.json
Due: prettier --write

COMMIT 2: Database Schema (Raw SQL Migrations)
  db/SCHEMA.md
  db/migrations/002_members_table.sql
  db/migrations/003_blacklist_security.sql
  db/migrations/004_roles_access_control.sql
  db/migrations/005_two_factor_auth.sql
  db/migrations/006_companionship.sql
  db/migrations/007_approval_workflow.sql
Due: prettier --write

COMMIT 2 (same): Database Integration Tests
  db/tests/constraints.test.ts
  db/tests/db-connection.ts
  db/tests/schema.test.ts
  package-lock.json
  package.json
  vitest.config.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

refactor(db): finalize members schema with optional fields and flexible contact info
  db/migrations/002_members_table.sql
  db/migrations/004_roles_access_control.sql
  db/tests/constraints.test.ts
  db/tests/schema.test.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

refactor(db): implement role matrix with semantic scope_id and audit trail
  db/migrations/004_roles_access_control.sql
  db/tests/constraints.test.ts
  db/tests/schema.test.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

chore(db): remove unused migration placeholders
  db/migrations/006_companionship.sql
  db/migrations/007_approval_workflow.sql
Due: none

docs(auth): remove Prisma references, add TypeScript types and Zod validation
  docs/implementation_plans/auth-closed-system.md
Due: prettier --write

feat(auth): COMMIT 3 - Auth.js Setup + TypeScript/Zod Types
  package-lock.json
  package.json
  src/core/blacklist.ts
  src/core/db.ts
  src/core/member.ts
  src/core/password.ts
  src/core/role.ts
  src/schemas/auth.ts
  src/types/auth.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

refactor(auth): entity-specific branded ID types for hexagonal architecture
  src/core/blacklist.ts
  src/core/db.ts
  src/core/member.ts
  src/core/role.ts
  src/types/auth.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

docs(auth): add COMMIT 3.5 - Hexagonal Ports/Adapters + Dual DB Adapters
  docs/implementation_plans/auth-closed-system.md
Due: prettier --write

feat(arch): COMMIT 3.5 - Hexagonal Ports/Adapters + Dual DB Implementations
  src/adapters/db/pg/PgBlacklistRepository.ts
  src/adapters/db/pg/PgMemberRepository.ts
  src/adapters/db/pg/PgRepositoryContainer.ts
  src/adapters/db/pg/PgRoleRepository.ts
  src/adapters/db/prisma/PrismaBlacklistRepository.ts
  src/adapters/db/prisma/PrismaMemberRepository.ts
  src/adapters/db/prisma/PrismaRepositoryContainer.ts
  src/adapters/db/prisma/PrismaRoleRepository.ts
  src/core/member.ts
  src/core/role.ts
  src/di/RepositoryProvider.ts
  src/infrastructure/auth/blacklist.ts
  src/infrastructure/auth/password.ts
  src/infrastructure/db/pg.ts
  src/ports/repositories/IBlacklistRepository.ts
  src/ports/repositories/IMemberRepository.ts
  src/ports/repositories/IRepositoryContainer.ts
  src/ports/repositories/IRoleRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

update interface CreateMemberInput to have all fields possible to set during member creation
  src/ports/repositories/IMemberRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

update interface UpdateMemberInput to have all fields possible to set during member update
  src/ports/repositories/IMemberRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

IMemberRepository CRUD operations (no DELETE)
  src/ports/repositories/IMemberRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

IMemberRepository location,couple,approval,roles
  src/ports/repositories/IMemberRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

createMember() in pg adapter
  src/adapters/db/pg/PgMemberRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

updateMemberProfile() in pg adapter
  src/adapters/db/pg/PgMemberRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

assignLocation(), makeCouple(), endCouple() in pg adapter
  src/adapters/db/pg/PgMemberRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

approveMember() in pg adapter
  src/adapters/db/pg/PgMemberRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

deactivateMember() filling revoked by and at
  db/migrations/002_members_table.sql
  src/adapters/db/pg/PgMemberRepository.ts
  src/ports/repositories/IMemberRepository.ts
  src/types/auth.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Remove unused Prisma stubs so the live DB layer is pg-only.
  docs/implementation_plans/auth.md
  src/adapters/db/prisma/PrismaBlacklistRepository.ts
  src/adapters/db/prisma/PrismaMemberRepository.ts
  src/adapters/db/prisma/PrismaRepositoryContainer.ts
  src/adapters/db/prisma/PrismaRoleRepository.ts
  src/di/RepositoryProvider.ts
  src/ports/repositories/IBlacklistRepository.ts
  src/ports/repositories/IMemberRepository.ts
  src/ports/repositories/IRepositoryContainer.ts
  src/ports/repositories/IRoleRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Drop role and blacklist ports from the live path.
  src/adapters/db/pg/PgBlacklistRepository.ts
  src/adapters/db/pg/PgRepositoryContainer.ts
  src/adapters/db/pg/PgRoleRepository.ts
  src/infrastructure/auth/blacklist.ts
  src/ports/repositories/IBlacklistRepository.ts
  src/ports/repositories/IRepositoryContainer.ts
  src/ports/repositories/IRoleRepository.ts
Due: eslint --fix --max-warnings=50, prettier --write, bash -c 'tsc --noEmit'

Path conditions:
  eslint --fix --max-warnings=50: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,html,yml,yaml})
  bash -c 'tsc --noEmit': any of: *.ts
